toneleros.in {
    # Servir el Frontend
    handle {
        reverse_proxy frontend:3000
    }

    # Redirigir la API al Backend
    # Usamos reverse_proxy sin quitar el prefijo /api si el backend lo espera
    # O permitimos que pase la ruta tal cual
    handle /api* {
        reverse_proxy backend:8000
    }

    encode zstd gzip
}
