toneleros.in {
    # Servir el Frontend
    handle {
        reverse_proxy frontend:3000
    }

    # Redirigir la API al Backend
    handle_path /api* {
        reverse_proxy backend:8000
    }

    # Compresión para mejorar velocidad en 1GB RAM
    encode zstd gzip
}
